body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.p-quotes {
  border: 5px solid blue;
  width: 50rem;
  height: 10rem;
  margin-left: 22rem;
  font-size: 24px;
  padding: 2rem;
  background-color:pink;
  /* color: white; */
}
.p-quotes::before{
    content: "“";
    font-family: "Roboto";
    color: #E0633A;
    padding: 0.25rem;
    font-size: 46px;
}

.r-quote{
  text-align: center;
}
